* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

.img-div {
  width: 500px;
  height: 500px;
  object-fit: cover;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
img {
  height: 100%;
}
p {
  font-size: 24px;
}
