@font-face {
  font-family: chillax-regular;
  src: url(fonts/63cffc0a3942456e003bc265_Chillax-Regular.woff);
}
@font-face {
  font-family: satoshi-light;
  src: url(fonts/63cffc20aa8997095067596f_Satoshi-Light.woff);
}
@font-face {
  font-family: Lq38;
  src: url(fonts/L0x5DF4xlVMF-BfR8bXMIjhLq38.woff2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  background-color: #121212;
}
main {
  width: 100%;
  display: flex;
  flex-direction: column;

  section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    .top {
      width: 100%;
      img {
        width: 100%;
        border-radius: 10px;
      }
    }
    .bottom {
      background-color: #1e1e1e;
      border-radius: 10px;
      padding: 1.5rem;
      .studio {
        font-family: Lq38;
        color: #edece8;
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: 1px;
        margin-bottom: 4rem;
      }
      .text {
        color: #c8c6c3;
        display: flex;
        flex-direction: column;
        gap: 0.7rem;
        h1 {
          font-size: 2.25rem;
          font-family: chillax-regular;
          color: #edece8;
          font-weight: 500;
          line-height: 1.2;
        }
        h5 {
          font-size: 1.25rem;
          font-family: satoshi-light;
          color: #838280;
          font-weight: 800;
          letter-spacing: 1px;
          line-height: 1.5;
        }
        .button {
          display: flex;
          flex-direction: row;
          gap: 0.5rem;
          padding-top: 0.5rem;
          .arrow {
            background-color: #292929;
            width: 2rem;
            height: 2rem;
            border: 1px solid #5f5e5c;
            border-radius: 50%;
            text-align: center;
            align-content: center;
            align-self: baseline;
          }
          button {
            width: fit-content;
            font-family: Lq38;
            padding: 0.7rem 1.5rem;
            padding-left: 0;
            border-radius: 5px;
            outline: none;
            border: none;
            background-color: transparent;
            color: #edece8;
          }
        }
      }
    }
  }
}
