@font-face {
  font-family: chillax-regular;
  src: url(fonts/63cffc0a3942456e003bc265_Chillax-Regular.woff);
}
@font-face {
  font-family: satoshi-light;
  src: url(fonts/63cffc20aa8997095067596f_Satoshi-Light.woff);
}
@font-face {
  font-family: Lq38;
  src: url(fonts/L0x5DF4xlVMF-BfR8bXMIjhLq38.woff2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
html {
  font-size: clamp(15px, 1.5vw, 17px);
}
body {
  background-color: #121212;
}
section {
  max-width: 2000px;
}
main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  section.view1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    .top {
      width: 100%;
      img {
        width: 100%;
        border-radius: 10px;
      }
    }
    .bottom {
      background-color: #1e1e1e;
      border-radius: 10px;
      padding: 1.5rem;
      .studio {
        font-family: Lq38;
        color: #edece8;
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: 1px;
        margin-bottom: 4rem;
      }
      .text {
        color: #c8c6c3;
        display: flex;
        flex-direction: column;
        gap: 0.7rem;
        h1 {
          font-size: 2.25rem;
          font-family: chillax-regular;
          color: #edece8;
          font-weight: 500;
          line-height: 1.2;
          width: 85%;
        }
        h5 {
          font-size: 1.25rem;
          font-family: satoshi-light;
          color: rgb(244 242 237 / 60%);
          font-weight: 500;
          letter-spacing: 1px;
          line-height: 160%;
          width: 85%;
        }
        .button {
          display: flex;
          flex-direction: row;
          gap: 0.5rem;
          padding-top: 0.5rem;
          .arrow {
            background-color: #292929;
            width: 2rem;
            height: 2rem;
            border: 1px solid #5f5e5c;
            border-radius: 50%;
            text-align: center;
            align-content: center;
            align-self: baseline;
          }
          button {
            width: fit-content;
            font-family: Lq38;
            padding: 0.7rem 1.5rem;
            padding-left: 0;
            border-radius: 5px;
            outline: none;
            border: none;
            background-color: transparent;
            color: #edece8;
          }
        }
      }
    }
  }
  section.view2 {
    color: #fff;
    width: 100%;
    .boxes {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 1rem;
      h6 {
        font-size: 1rem;
        font-family: Lq38;
        color: rgb(244 242 237 / 60%);
        font-weight: 400;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-bottom: 0.5rem;
      }
      h1 {
        font-size: 2.45rem;
        font-family: chillax-regular;
        color: #edece8;
        font-weight: 500;
        letter-spacing: 1px;
      }
    }
    .box {
      padding: 1rem;
      text-align: center;
    }
  }
  section.view3 {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .top {
      width: 100%;
      img {
        width: 100%;
        border-radius: 10px;
      }
    }
    .bottom {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: #1e1e1e;
      border-radius: 10px;
      padding: 2rem;
      .studio {
        font-family: Lq38;
        color: #edece8;
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: 1px;
        margin-bottom: 4rem;
        text-transform: uppercase;
      }
      .text {
        color: #c8c6c3;
        display: flex;
        flex-direction: column;
        gap: 0.7rem;
        h1 {
          font-size: 2.25rem;
          font-family: chillax-regular;
          color: #edece8;
          font-weight: 500;
          line-height: 1.2;
          width: 85%;
          text-transform: uppercase;
          margin-bottom: 0.5rem;
        }
        h5 {
          font-size: 1.175rem;
          font-family: satoshi-light;
          color: rgb(244 242 237 / 60%);
          font-weight: 500;
          letter-spacing: 1px;
          width: 100%;
        }
      }
    }
  }
  section.view4 {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .top {
      width: 100%;
      img {
        width: 100%;
        border-radius: 10px;
      }
    }
    .bottom {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: #1e1e1e;
      border-radius: 10px;
      padding: 2rem;
      .studio {
        font-family: Lq38;
        color: #edece8;
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: 1px;
        margin-bottom: 4rem;
        text-transform: uppercase;
      }
      .text {
        color: #c8c6c3;
        display: flex;
        flex-direction: column;
        gap: 0.7rem;
        h1 {
          font-size: 2.25rem;
          font-family: chillax-regular;
          color: #edece8;
          font-weight: 500;
          line-height: 1.2;
          width: 85%;
          text-transform: uppercase;
          margin-bottom: 0.5rem;
        }
        h5 {
          font-size: 1.175rem;
          font-family: satoshi-light;
          color: rgb(244 242 237 / 60%);
          font-weight: 500;
          letter-spacing: 1px;
          width: 100%;
        }
      }
    }
  }
  section.view5 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    .top {
      padding: 1rem;
      .text {
        color: #c8c6c3;
        display: flex;
        flex-direction: column;
        gap: 0.7rem;
        h1 {
          font-size: 2.25rem;
          font-family: chillax-regular;
          color: #edece8;
          font-weight: 500;
          text-transform: uppercase;
        }
        .button {
          display: none;
          flex-direction: row;
          gap: 0.5rem;
          padding-top: 0.5rem;
          .arrow {
            background-color: #292929;
            width: 2rem;
            height: 2rem;
            border: 1px solid #5f5e5c;
            border-radius: 50%;
            text-align: center;
            align-content: center;
            align-self: baseline;
          }
          button {
            width: fit-content;
            font-family: Lq38;
            padding: 0.7rem 1.5rem;
            padding-left: 0;
            border-radius: 5px;
            outline: none;
            border: none;
            background-color: transparent;
            color: #edece8;
          }
        }
      }
    }
    .bottom {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      img {
        width: 100%;
        border-radius: 10px;
      }
    }
  }
  section.view6 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    .top {
      width: 100%;
      img {
        width: 100%;
        border-radius: 10px;
      }
    }
    .bottom {
      background-color: #1e1e1e;
      border-radius: 10px;
      padding: 1.5rem;
      .studio {
        font-family: Lq38;
        color: #edece8;
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: 1px;
        margin-bottom: 4rem;
        text-transform: uppercase;
      }
      .text {
        color: #c8c6c3;
        display: flex;
        flex-direction: column;
        gap: 0.7rem;
        h1 {
          font-size: 2.25rem;
          font-family: chillax-regular;
          color: #edece8;
          font-weight: 500;
          line-height: 1.2;
          width: 85%;
          text-transform: uppercase;
        }
        .button {
          display: flex;
          flex-direction: row;
          gap: 1rem;
          padding-top: 0.5rem;

          .arrow {
            background-color: #292929;
            width: 2rem;
            height: 2rem;
            border: 1px solid #5f5e5c;
            border-radius: 50%;
            text-align: center;
            align-content: center;
            align-self: baseline;
          }
          button {
            width: fit-content;
            font-family: Lq38;
            padding: 0.7rem 1.5rem;
            padding-left: 0;
            border-radius: 5px;
            outline: none;
            border: none;
            background-color: transparent;
            color: #edece8;
            text-transform: uppercase;
          }
        }
      }
    }
  }
  section.view7 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 1rem;
    .top {
      padding: 2rem;
      background-color: #cebd63;
      border-radius: 10px;

      .studio {
        font-family: Lq38;
        color: #121212;
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: 1.1px;
        text-transform: uppercase;
        margin-bottom: 0.2rem;
      }
      .text {
        width: 100%;
        color: #c8c6c3;
        display: flex;
        flex-direction: column;
        gap: 0.7rem;

        h1 {
          font-size: 2.5rem;
          font-family: chillax-regular;
          font-weight: 100;
          color: #edece8;
          line-height: 1.1;
          width: 100%;
          text-transform: uppercase;
          padding: 0.5rem;
          color: #121212;
        }
        .button {
          display: flex;
          flex-direction: row;
          color: #fff;
          button {
            color: #fff;
            width: 100%;
            font-family: Lq38;
            padding: 1rem 1.5rem;
            padding-left: 0;
            border-radius: 10px;
            outline: none;
            border: none;
            background-color: #121212;
            text-transform: uppercase;
            text-align: center;
            margin-top: -0.5rem;
            letter-spacing: 1px;
          }
        }
      }
    }
    .bottom {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 2rem;
      background-color: #1e1e1e;
      border-radius: 10px;
      img {
        width: 16%;
        margin-bottom: 4rem;
      }
      .contact-icons {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        .icon {
          width: 2.6rem;
          height: 2.6rem;
          border-radius: 50%;
          background-color: #292929;
          border: 1px solid #5f5e5c;
          display: flex;
          align-items: center;
          justify-content: center;
          i {
            font-size: 1.2rem;
            color: #c8c6c3;
          }
        }
      }
    }
  }
  section.view8 {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
    .view8-1 {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 2rem;
      background-color: #1e1e1e;
      border-radius: 10px;
      img {
        width: 16%;
        margin-bottom: 4rem;
      }
      .contact-icons {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        .icon {
          width: 2.6rem;
          height: 2.6rem;
          border-radius: 50%;
          background-color: #292929;
          border: 1px solid #5f5e5c;
          display: flex;
          align-items: center;
          justify-content: center;
          i {
            font-size: 1.2rem;
            color: #c8c6c3;
          }
        }
      }
    }
    .view8-2 {
      padding: 1rem;
      background-color: #1e1e1e;
      border-radius: 10px;
      .view8-2-1,
      .view8-2-2,
      .view8-2-3 {
        padding: 1rem;
        h3 {
          color: #edece8;
          font-family: chillax-regular;
          text-transform: uppercase;
          font-weight: 400;
          font-size: 1.3rem;
          letter-spacing: 1px;
          padding-bottom: 1.4rem;
        }
        h6 {
          font-size: 1rem;
          color: rgba(186, 185, 181, 0.6);
          font-family: Lq38;
          text-transform: uppercase;
          padding-bottom: 1rem;
          font-weight: 800;
          letter-spacing: 1px;
          padding: 0.85rem 0 0.85rem;
        }
      }
      .view8-2-1 {
        .button {
          display: flex;
          flex-direction: row;
          color: #fff;
          button {
            color: #121212;
            width: fit-content;
            font-family: Lq38;
            padding: 1rem 1.5rem;
            margin-top: 1rem;
            border-radius: 10px;
            outline: none;
            border: none;
            background-color: #cebd63;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 1px;
          }
        }
      }
    }
    .view8-3 {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 1rem;
      background-color: #1e1e1e;
      border-radius: 10px;
      h6 {
        font-size: 1rem;
        color: rgba(186, 185, 181, 0.6);
        font-family: Lq38;
        text-transform: uppercase;
        padding-bottom: 1rem;
        font-weight: 800;
        letter-spacing: 1px;
        padding: 0.85rem 0 0.85rem;
        text-align: center;
        line-height: 1.6;
      }
      .button {
        display: flex;
        flex-direction: row;
        padding-top: 0.5rem;
        justify-content: center;
        .arrow {
          background-color: #292929;
          width: 3rem;
          height: 3rem;
          border: 1px solid #5f5e5c;
          border-radius: 50%;
          text-align: center;
          align-content: center;
          align-self: baseline;
          i {
            color: #c8c6c3;
          }
        }
        button {
          width: fit-content;
          font-family: Lq38;
          font-size: 1rem;
          font-weight: 400;
          padding: 0.7rem 1rem;
          padding-left: 0;
          border-radius: 5px;
          outline: none;
          border: none;
          background-color: transparent;
          color: #edece8;
          text-transform: uppercase;
        }
      }
      span {
        color: #edece8;
        font-weight: 400;
        text-decoration: underline;
      }
    }
  }
}
@media (min-width: 900px) {
  main {
    section.view1 {
      flex-direction: row;
      .top,
      .bottom {
        width: 50%;
      }

      .bottom {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 4rem;
        .studio {
          font-size: 0.875rem;
        }
        .text {
          h1 {
            font-size: 3.5rem;
          }
          h5 {
            font-size: 1.1rem;
            margin-bottom: 0.5rem;
            width: 85%;
          }

          .button {
            margin-top: 1rem;
            margin-bottom: -1rem;
            button {
              margin-left: 0.2rem;
            }
          }
        }
      }
    }
    section.view2 {
      .boxes {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
    }
  }
}
