* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  width: 600px;
  padding: 20px 10px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
h3 {
  font-size: 16px;
  font-family: "arial";
  text-align: center;
  margin-top: 20px;
  text-transform: capitalize;
  width: 50%;
  letter-spacing: 0.5px;
}
.outer {
  width: 100%;
  height: 20px;
  border-radius: 10px;
  background-color: rgb(223, 219, 219);
  margin: 50px auto;
}
.inner {
  width: 0%;
  height: 20px;
  border-radius: 10px;
  background-color: rgb(18, 161, 13);
}

.btn-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}
.btn-container .button .btn {
  padding: 10px 20px;
  font-size: 18px;
  font-family: "Poppins";
  color: white;
  background-color: rgb(6, 171, 6);
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
}
.btn-container .button .btn:active {
  scale: 0.95;
}
.percent {
  font-family: "arial";
  font-size: 40px;
}
