* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.box {
  width: 200px;
  height: 200px;
  border: 2px solid white;
  background-color: red;
  border-radius: 10px;
}
.btn {
  padding: 10px 20px;
  background-color: cornflowerblue;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
.btn:active {
  scale: 0.95;
}
